{
    "extends": ["google"],
    "root": true,

    "env": {
        "es6": true,
        "jest": true
    },

    "parser": "babel-eslint",

    "parserOptions": {
        "sourceType": "module"
    },

    "plugins": [
        "typescript",
        "prettier",
        "jest"
    ],

    "globals": {
        "jest": true
    },

    "rules": {
      // Jest Plugin
      // The following rules are made available via `eslint-plugin-jest`.
        "jest/no-disabled-tests": 1,
        "jest/no-focused-tests": 1,
        "jest/no-identical-title": 1,
        "jest/valid-expect": 1,

      // Prettier Plugin
      // The following rules are made available via `eslint-plugin-prettier`.
        "prettier/prettier": "error"
    }
}

